@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test Task</h1>

    <textarea id="urlArray" ></textarea><br />
    <button >Send</button><br />
    <div hidden id="grid">
        <table id="myTable" >
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Status Code</th>
                    <th>Title (or Error)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <span id="loading">Loading...</span>
    </div>



</div>




